body {
    font-family: 'Quicksand',sans-serif;
}
h1 {
    color: blue;
    text-decoration: underline
}
h2, h3 {
    color: #00a2c6;
}

footer {
    padding: 20px;
    color: white;
    background-color:#00a2c6;
    text-align: center;
    font-weight: bold;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

.profile header{
    text-align: center;
}
























/* rule akan diterapkan pada sebuah tautan yang belum pernah dikunjungi */
a:link {
   color: red;
}

/* rule akan diterapkan pada sebuah tautan yang sudah pernah dikunjungi */
a:visited {
   color: green;
}

/* rule akan diterapkan pada sebuah tautan ketika diarahkan dengan kursor */
a:hover {
   color: pink;
}

/* rule akan diterapkan pada sebuah tautan ketika ditekan */
a:active {
   color:orange;
}